.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    color: #f8f9fa;
    background-color: #005f89;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.table .thead-dark th {
    color: #fff;
    background-color: #015f89;
    border-color: #015f89;
}

.table td, .table th {
    padding: .30rem;
}